@model BIED_research_suite.Models.Database_entities.Research

@{
    ViewData["Title"] = "Research dataset";
}

<h3>Export data</h3>

<div>
    <a asp-action="DownloadJSON" asp-route=@Model.ResearchID>Download data as JSON file</a>
</div>



<div>
    <a asp-action="ProjectListing">View running scraper projects</a> |
    <a asp-action="Index">Back to List</a>
</div>