@model IEnumerable<BIED_research_suite.Models.Database_entities.Dataset>

@{
    ViewData["Title"] = "Datasets overzicht";
}

<h1>Datasets per vragenlijst</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionnaireID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionnaireID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.DatasetID">Export</a> |
                    <a asp-action="Delete" asp-route-id="@item.DatasetID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="ProjectListing">View running scraper projects</a> |
    <a asp-action="Index">Back to List</a>
</div>
