@model List<string>

@{
    ViewData["Title"] = "Ingeplande scraping opdrachten";
}

<h1>Details</h1>

<div>
    <h4>Ingeplande scraping opdrachten</h4>
    <hr />
    <h5>Twitter scraper</h5>
    @foreach (var project in Model)
    {
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => project)
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Index">Back to dataset list</a>
</div>
