@model IEnumerable<BIED_research_suite.Models.ViewModels.UserViewModel>

    @{
        ViewData["Title"] = "Gebruikers overzicht";
    }

    <h1>Gebruikers overzicht</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Gebruikers
                </th>
                <th>
                    Rollen
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => user.user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => user.roles[0])
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@user.user.Id">Bekijken</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
