@{
    ViewData["Title"] = "BIED";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Welkom op de webpagina van het BIED project.</p>
    <p>Bent u een nieuwe deelnemer? Ga dan eerst naar de registreren pagina om een account aan te maken. U vindt de registratie in het menu.</p>
</div>
