@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Deze site volgt de GDPR privacy richtlijnen. Om uw persoonlijke data te zien en te beheren kun u op uw account klikken. Om de door u gegenereerde onderzoeksdata te zien kunt u op deelnemer klikken in de menu balk.</p>
